/* * {
    border: 1px dashed #deadaf;
} */

body {
    font-family: 'Playfair Display', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {

    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
}

#intro {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    /* margin: 20px auto; */
    height: 360px;
    background-position: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/images/music.png');
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}

.paragrapgh {
    text-align: justify;
    width: 70%;
    margin: 40px auto;
}

form {
    margin: 40px 7vw;
}

#result-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    margin: 20px auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    box-shadow: 0 0 10px black;
}

audio {
    width: 100%
}

.like-btn {
    position: absolute;
    font-size: 15px;
    bottom: -2%;
    right: 10px;
    border-radius: 50%;
    transition: 1s;
    text-decoration: none;
    
}

.like-btn:hover {
    cursor: pointer;
}

.like-btn:active {
    /* transform:scale(2,1); */
    font-size: 100px;
}

.like-btn:visited {
    color: red;
    font-size: 25px;
}
