/* * {
    border: 1px dashed #deadaf;
} */

#intro {
    font-family: 'Playfair Display', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    font-size: 21px;
    font-weight: bold;
}

.nav-item {
    padding: 0 15px;
}

#intro {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    /* margin: 20px auto; */
    height: 360px;
    background-position: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/images/music.png');
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
}

.paragrapgh {
    text-align: justify;
    width: 70%;
    margin: 40px auto;
}

form {
    margin: 40px 7vw;
}

.result-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    margin: 20px auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    box-shadow: 0 0 10px black;
}

.card-title {
    padding: 3% 0 0 5%;
}

.audio-container {
    border: 1px solid blue;
    padding: 5px;
}


audio {
    width: 100%
}

.btn {
    display: block;
    margin: 20px 20px !important;
}

.like-btn {
    position: absolute;
    font-size: 20px;
    padding: 5px;
    bottom: -4%;
    right: 10px;
    border: 0;
    border-radius: 50%;
    transition: 1s;
    text-decoration: none;
    background-color: white;
    box-shadow: 0 0 3px black; 
}


.like-btn:hover {
    cursor: pointer;
}

.like-btn:active {
    font-size: 70px;
}


.like-btn:visited {
    color: red;
}

